<div id="footer" class="row">
  <div class="col-4" style="text-align: center;">
  @Html.ActionLink("Home!", "Index", "Home", new {})
  </div>
  <div class="col-4" style="text-align: center;">
  @Html.ActionLink("See all courses!", "Index", "Courses", new { id = "courses" }) 
  </div>
  <div class="col-4" style="text-align: center;">
  @Html.ActionLink("See all students!", "Index", "Students", new { id = "students" })
  </div>
</div>