@{
  Layout = "_Layout";
}

<h3 style="text-align: center;">Welcome to the University Registrar!</h1>
  <div class="row" style="padding-top: 5%;">
    <div class="col-4" style="text-align: center;">
      <p>@Html.ActionLink("See all majors!", "Index", "Majors")</p>
    </div>
    <div class="col-4" style="text-align: center;">
      <p>@Html.ActionLink("See all courses!", "Index", "Courses")</p>
    </div>
    <div class="col-4" style="text-align: center;">
      <p>@Html.ActionLink("See all students!", "Index", "Students")</p>
    </div>
  </div>

<div class="img">
  <img src="img/castle.webp" class="castle" alt="a photo of a castle">
</div>