@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model UniversityRegistrar.Models.Course

<h4>Add a new course</h4>
<hr >
@using (Html.BeginForm())
{
 
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", style = "text-align: center;"})<br><br>
  @Html.TextBoxFor(model => model.Number, new { placeholder = "Number", style = "text-align: center;"})<br><br>
  <input type="submit" value="Add new course" class="btn btn-success" />
}
