@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model UniversityRegistrar.Models.Enrollment

<h2>Are you sure you want to delete this student?</h2>

<p>Student: @ViewBag.Student</p>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}