@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model UniversityRegistrar.Models.Course;
@using UniversityRegistrar.Models;


<h3>Course Details:</h3>
<hr>
<h4><strong>Name: </strong>@Html.DisplayFor(model => model.Name)</h4>
<h4><strong>Course Number: </strong>@Html.DisplayFor(model => model.Number)</h4>
<hr>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This course has no students enrolled.</p>
}
else 
{
  <h5>Students enrolled in this course:</h5>
  @foreach (Enrollment student in Model.JoinEntities)
  {
  <ul>
    <li>@student.Student.Name</li>
  </ul>
  }
}


